draft-dir
print-dir
auto
*.orig
*~
#*
*#
*.sav
*.sav.*
*.aux
*.bbl
*.blg
*.dvi
*.idx
*.ilg
*.lof
*.log
*.lol
*.lot
*.nlo
*.nls
*.out
art*.pdf
outline/*.pdf
*.tmp
*.toc
*.ind
*.xref
*.4tc
*.fdb_latexmk
*.fls
.DS_Store
art-doc-sel-chap.tex
